.wrapper {
    margin-top: 20px;
}
.divider {
    margin-bottom: 20px;
}
.party {
    max-width: none!important;
    width: 100%;
}
.collapse {
    margin-top: 20px;
}
.tag {
    display: flex;
    align-items: center;
}