@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';
@import '../../../assets/main.scss';
@import '../../../index.scss';

.mobileOwner {
    font-size: 14px;
}
.listItem {
    border: solid 1px var(--border-color);
    border-block-end: solid 1px var(--border-color)!important;
    border-radius: 6px;
    margin-bottom: 10px;
    justify-content: start!important;
}
.title {
    margin-bottom: 0!important;
    margin-top: 0!important;
}
.preview {
    margin-bottom: 0!important;
    @media screen and (min-width: map-get($breakpoints, 'hd-screen')) {
        margin-left: 15px;
        margin-right: 15px;
    }
}
.meta {
    max-width: 250px!important;
    margin-block-end: 0px!important;
}
.avatar {
    margin-left: 1px;
    @media screen and (min-width: map-get($breakpoints, 'hd-screen')) {
        margin-left: 0;
    }
}
.action {
    @media screen and (min-width: map-get($breakpoints, 'hd-screen')) {
        min-width: 240px;
    }
}
.owner {
    width: 260px;
}
.ownerName {
    width: 170px;
}
.mobilePurpose {
    margin-top: 10px;
    margin-bottom: 10px;
}