.companies {
    max-width: 1600px;
}
.listItem {
    border: solid 1px #ECEBF0;
    border-radius: 6px;
    margin-bottom: 10px;
}
.title {
    margin-bottom: 0!important;
    margin-top: 0!important;
}
.preview {
    margin-bottom: 0!important;
}