@import '../../../assets/base/variables';
@import '../../../assets/main';

.list{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item{
  border: 1px solid $grey;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  
  .buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

    .buttonsWithRate{
      display: flex;
      flex-direction: column;
      gap: 10px;

      .exchangeRate, 
      .exchangeName {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;

        .bold{
          font-weight: 700;
          font-style: italic;
        }
      }

      .exchangeName {
        @media screen and (min-width: map-get($breakpoints, 'widescreen')){
          justify-content: left;
        }
      }

      .transactionButtons{
        display: flex;
        gap: 15px;
      }
    }
  }
}

.moreDetails{
  display: flex;
  flex-direction: column;
  gap:10px;

  .reserved{
    display: flex;
  }

  .exchange{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .liquidity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    gap: 5px;

    .text{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
    }

    .liquidityButtons{
      display: flex;
      gap: 10px;
    }
  }
}

.add {
  margin-top: 15px;
  padding-left: 15px;
  max-width: 400px;
}

.form {
  padding: 15px;
  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    padding: 30px;
  }
}