@import '../../../../assets/base/variables';
@import '../../../../assets/main';

.exchangePairs {
  margin-top: 30px;
}

.liquidityWrapper {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: map-get($breakpoints, 'desktop')) {
        margin-left: auto;
        margin-right: 0;
    }
}

.liquidityPool {
    margin-bottom: 20px;

    @media screen and (min-width: map-get($breakpoints, 'large-screen')) {
        margin-bottom: 0;
    }
}