@import '../../../../assets/base/variables';
@import '../../../../assets/main';

.exchangePairs {
  margin-top: 30px;
}

.liquidityPool {
    margin-bottom: 20px;

    @media screen and (min-width: map-get($breakpoints, 'large-screen')) {
        margin-bottom: 5px;
        margin-top: 5px;
    }
}