@import '../../assets/variables';
@import '../../assets/fonts/fonts';
.feedWrapper{
  padding: 44px 35px;
}

.feedHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;

  .feedHeaderText {
    font-size: 22px;
    font-weight: 600;
    color: $text1;
    margin: 0;
  }

  .viewButtons {
    background: $bg3;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;

    & >svg{
      padding: 9px 16px;
      cursor: pointer;
      &:first-child{
        border-right: 1px solid $bg2;
      }
    }
  }
}

.cardTitle{
  font-weight: 700;
  font-size: 18px;
  color: $text2;
  font-family: $regular;
  margin: 0;
}
.cardInfo {
  font-size: 14px;
  font-weight: 500;
  color: $text4;
  margin-top: 16px;
  &.withMargin {
    margin: 28px 0;
  }
  .green {
    color: $primary2;
  }
  .yellow {
    color: $primary;
  }
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div > svg,  & > div > span{
    margin-right: 10px;
    cursor: pointer;
  }

  & .greenStatus{
    color: $bg4;
    background: $primary2;
  }
  
  & .yellowStatus {
      color: $bg4;
      background: $primary;
  }
}

.cardWrapper{
  display: flex;
  flex-wrap: wrap;

  & > div {
    &.tile{
      &:nth-child(odd){
        margin-right: 14px;
      }
      margin-bottom: 18px;
      max-width: 491px;
      width: 100%;
    }
    &.list {
      margin-bottom: 20px;
    }
  }
}


