@import '../../assets/base/variables';
@import '../../assets/base/fonts';
@import '../../assets/main.scss';

.greenStatus{
  background: $primary2;
}

.yellowStatus {
    background: $primary;
}

.cover {
  margin-top: 24px;
  margin-left: 24px;
}