@import '../../../assets/base/variables';

.cardProposalsSection {
  background-color: $transparent3;
  margin-bottom: 2rem;
}
.metaInfoLine{
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  margin-bottom: 0.5rem;
  text-align: right;
}
.buttonsContainer {
  flex-direction: row;
  justify-content: end;
  display: flex;
  margin-bottom: 0.5rem;
}
.buttonsContainer * {
  margin: 0 4px;
}
.list{
  list-style: none;
}