@import '../../../assets/base/variables';
@import '../../../assets/main.scss';
@import '../../../assets/base/fonts';

.profile{
  margin-top: 20px;
}

.navigationLink {
  width: 100%;
  font-size: 14px;
  line-height: 29px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon{
    height: 19px;
    width: 19px;
    margin-right: 14px;
  }


  &.withMargin{
    margin-bottom: 24px;
  }

  & .activeBg {
    background: $primary;
  }

  & .logoutBg {
    background: $lightGrey;
  }

  & a, 
  & .link{
    padding: 11px 13px;
    align-items: center;
    display: flex;
    text-decoration: none;
    width: 80%;
    border-radius: 6px;
    position: relative;
    font-weight: 700;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      padding: 12px 16px;
      font-size: 15px;
      width: 100%;
    }

    &>img {
      margin-right: 10px;
    }


    &>img.activeIcon {
      display: none;
    }

    &>div>span {
      color: $clearBlack;
    }

    & > .titleWrapper{
      display: flex;
      flex-direction: column;
      margin-left: 14px;

      @media screen and (min-width: map-get($breakpoints, 'tablet')){
        margin-top: 6px;
      }

      & > span {
        font-size: 12px;
        line-height: 19px;
        color: $clearBlack;

        @media screen and (min-width: map-get($breakpoints, 'tablet')){
          letter-spacing: 1px;
          font-size: 13px;
        }
      }      
      .amount{
        font-weight: 500;
        @media screen and (min-width: map-get($breakpoints, 'tablet')){
          font-size: 11px;
        }
      }
    }

    &.activeBg {
      &>img {
        display: none;
      }

      &>img.activeIcon {
        display: initial;
      }

      &>div>span:last-child {
        color: $clearBlack;
      }
    }
  }
}