@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';

.navigationLink {
  width: 100%;
  
  font-size: 14px;
  line-height: 29px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  &.withMargin{
    margin-bottom: 32px;
  }

  & .activeBg {
    background: $secondary3;
  }

  & a {
    padding: 11px 13px;
    align-items: center;
    display: flex;
    text-decoration: none;
    width: 80%;
    border-radius: 15px;
    position: relative;

    &>img {
      margin-right: 10px;
    }


    &>img.activeIcon {
      display: none;
    }

    &>div>span {
      color: $text3;
    }

    & > .titleWrapper{
      display: flex;
      flex-direction: column;
      margin-left: 14px;

      & > span {
        &:first-child{
          font-weight: 600;
        }
        font-size: 12px;
        line-height: 20px;
        color: $text2;
      }      
    }

    &.activeBg {
      &>img {
        display: none;
      }

      &>img.activeIcon {
        display: initial;
      }

      &>div>span:last-child {
        color: $primary;
      }
    }
  }
}