@import '../../../assets/variables';
.headCongressionalFirstItem {
  display: flex;
  margin-bottom: 6px;

  svg {
    margin-right: 10px;
  }

  h3 {
    font-size: 22px;
    margin: 0;
    color: $text1;
  }
}

.headCongressionalSecondItem {
  font-size: 14px;
  font-weight: 600;
  color: $text4;
  margin-bottom: 40px;
}

.upcomingVotings {
  width: 197px;
  font-size: 14px;
  height: 43px;
}

