@import "../../../../assets/base/variables";
@import '../../../../assets/main.scss';

.nameAndIcons{
  display: flex;
  align-items: center;
  gap: 8px;


  .copyName{
    display: flex;
    flex-direction: column;

    .copyWithName{
      display: flex;
      align-items: center;
    }
    .votesCounterMobile{
      font-size: 13px;
      display: block;
      margin-top: 6px;
      margin-left: 6px;
      @media screen and (min-width: map-get($breakpoints, 'desktop')){
        display: none;
      }
    }
  }
}

.copyIcon{
  margin-right: 2px;
}

.buttonWrapper{
   & > button {
    padding: 0 10px;
    min-height: 40px;
    font-size: 14px;
    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      min-width: 150px;
      max-height: unset;
      min-height: unset;
      min-height: 50px;
      font-size: 17px;
    }
   }
}

.votesCounterDesktop{
  display: none;
  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    display: block;
  }
}

.politicianImageContainer,
.politicianPartyImageContainer,
.politicianVotingPowerImageContainer{
  height: 40px;
  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    height: 50px;
  }
}

.politicianPartyImageContainer{
  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    margin-right: 3px;
  }
}