@import "../../../../assets/base/variables";
.politicianCardContainer {
  display: flex;
  height: 7rem;
  align-items: center;
  justify-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-width: 2px;
  border-color: $primary;
  border-style: solid;
  background-color: $secondary3;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-direction: column;
  @media (min-width: 48em) {
      flex-direction: row;
      height: 3rem;
    }
}

.politicianData {
  display: flex;
  flex: 3;
  align-items: center;
  justify-items: center;
}
.politicianVotingPower {
  display: grid;
  flex: 1;
  align-items: flex-end;
  justify-items: flex-end;
  flex-direction: row;
}
.politicianVotingPowerItems {
  display: flex;
  flex: 1;
  align-items: center;
  justify-items: center;
}
.politicianVotingPowerNumber {
  font-weight: bolder;
  font-size: 1.25rem;
}
.politicianImageContainer{
  margin-right: 3px;
  margin-left: 3px;
  display: flex;
  align-items: center;
  justify-items: center;
  height:2rem;
  @media (min-width: 48em) {
    margin-right: 10px;
    margin-left: 10px;
    height:3rem;
  }
}
.politicianPartyImageContainer{
  margin-right: 3px;
  margin-left: 3px;
  display: flex;
  align-items: center;
  justify-items: center;
  height:2rem;
  @media (min-width: 48em) {
    margin-right: 10px;
    margin-left: 10px;
    height:3rem;
  }
}
.politicianVotingPowerImageContainer{
  margin-right: 3px;
  margin-left: 3px;
  display: flex;
  align-items: center;
  justify-items: center;
  height:2rem;
  @media (min-width: 48em) {
    margin-right: 10px;
    margin-left: 10px;
    height:3rem;
  }
}
.politicianDisplayName{
  font-weight: bolder;
  font-size: 1.15rem;
  color: $text2;
  @media (min-width: 48em) {
    font-size: 1.25rem;
  }
}
.buttonWrapper {
  margin-right: 10px;
}
.copyIcon{
  cursor: pointer;
}

.maxContent {
  width: max-content;
  display: flex;
}
