@import "../../../assets/base/variables";

.form {
    width: 60%;
}

.h3 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
}

.monospace {
    font-family: monospace;
}

.h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.identityInfo {
    width: 50%;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.error {
    font-size: 16px;
    color: $errorText;
    font-weight: 500;
  }

  .button{
    margin-bottom: 15px;
  }

  .twoFAbuttons{
    color: #8A94A6;
    position: fixed;
    bottom: 0px;
    right: 0px;
  }