.headerWithIcon{
  display: flex;
  flex-direction: row;
  align-items: center;

  h3 {
    margin: 0 8px;
    padding: 0 !important;
  }

  img {
    background: #d90000;
    padding: 6px 8px;
    border-radius: 25px;
  }
}

.internalWrapper {
  padding: 0 32px;
}