@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';

.nominatorWrapper{
  display: flex;
  //height: 20vh;
  font-size: 18px;
  align-items: flex-start;
  justify-content: center;
  border-radius: 20px;
  //background: $bg3;
  background: $transparent3;
  margin-top: 21px;
  margin-bottom: 21px;
  flex-direction: column;
  padding: 30px;
}

.nominatorsList{
  width:100%
}

.updateNominationsContainer{
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px
}
