@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';

.dynamicFieldsEntityCard {
  margin-bottom: 0.75rem;
}

.error {
  font-size: 12px;
  line-height: 16px;
  color: $errorText;
};

.mediumMaxSize{
  max-width: 1000px;
  margin: 5px;
}

.slimTextArea {
  min-height: initial!important;
}

.delete {
  padding-left: 7px;
}

.signature {
  min-height: 240px;
}
.add {
  margin-left: 13px;
}

.registryTitle {
  margin-top: 15px!important;
}

.registryCard {
  margin-top: 20px;
}