@import '../../../../assets/base/variables';
@import '../../../../assets/base/fonts';

.nominatorCardWrapper{
  display: flex;
  height: 50px;
  font-size: 18px;
  align-items: flex-start;
  justify-content: center;
  border-radius: 20px;
  background: $secondary3;
  margin-top: 10px;
  flex-direction: row;
  gap: 16px;
  padding: 0 32px;
}
.nominatorCardWrapper:hover{
  background: $primary;
}
.avatarProfile{
  display: flex;
  flex:1;
  align-items: center;
  height:100%;
}
.listItem{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
}
.avatarImage{
  margin-right: 5px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  height:100%;
}
.avatarName{
  display: flex;
  align-items: center;
  height:100%;
}
.checkBox{
  background-color: #fff;
  border-width: 1px;
  border-color: #323B4B;
  border-style: solid;
  padding: 5px;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
.available {
  color: $primary2;
  background-color: $secondary2;
  border-radius: 15px;
  padding: 5px;
}

.blocked {
  color: $primary4;
  background-color: $secondary4;
  border-radius: 15px;
  padding: 5px;
}
