@import '../../assets/base/variables';
@import '../../assets/base/fonts';

.button {
  background: $bg3;
  border-radius: 15px;
  min-height: 58px;
  border: none;
  font-family: $medium;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  min-width: max-content;

  & > svg {
    margin-right: 10px;
  }
  &.large{
    min-width: 540px;
  }
  &.medium{
    min-width: 222px;
  }
  &.little{
    min-width: 190px;
    min-height: 43px;
    font-size: 14px;
  }
  &.small{
    min-width: 139px;
    min-height: 48px;
    font-size: 14px;
  }
  &.nano{
    min-width: 60px;
    min-height: 25px;
    font-size: 12px;
  }
  color: $text4;
  cursor: pointer;
  &.primary {
    background: $primary;
    color: white;
  }
  &.secondary {
    background: $secondary3;
    color: $primary;
  }
  &.green{
    background: $secondary;
    color: $primary2;
  }
  &.red{
    background: $secondary4;
    color: $primary4;
  }
  &.grey{
    background: $bg2;
    color: $text4;
  }
}
