@import '../../assets/base/variables';
@import '../../assets/base/fonts';
@import '../../assets/main.scss';

.button {
  background: $grey;
  border-radius: 6px;
  min-height: 58px;
  border: none;
  
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  min-width: max-content;

  & > svg {
    margin-right: 10px;
  }
  &.large{
    min-width: 540px;
  }
  &.medium{
    min-width: 222px;
  }
  &.little{
    min-width: 190px;
    min-height: 43px;
    font-size: 14px;
  }
  &.small{
    min-width: 139px;
    min-height: 48px;
    font-size: 14px;
  }
  &.nano{
    min-width: 60px;
    min-height: 25px;
    font-size: 12px;
  }
  color: $black;
  cursor: pointer;
  &.primary {
    background: $primary;
    color: $clearBlack;
  }
  &.secondary {
    background: $secondary3;
    color: $clearBlack;
  }
  &.green{
    background: $succes;
    color: $bg4;
  }
  &.red{
    background: $red;
    color: $bg4;
  }
  &.grey{
    background: $grey;
    color: $clearBlack;
  }
  &.whiteRed{
    border: 2px solid $red;
    color: $red;
  }

  &:disabled{
    opacity: 20%;
    border: 1px solid $grey;
  }
}
