@import '../../assets/base/variables';
@import '../../assets/base/fonts';
@import '../../assets/main.scss';

.button {
  & > svg {
    margin-right: 10px;
  }
  &.little{
    min-width: 190px;
    min-height: 43px;
    font-size: 14px;
  }
  &.nano{
    min-width: 60px;
    min-height: 25px;
    font-size: 12px;
  }
  &.secondary {
    background: $secondary3;
    color: $clearBlack;
  }
  &.green{
    background: $succes;
    color: $bg4;
  }
  &.grey{
    background: $grey;
    color: $clearBlack;
  }
  &.whiteRed{
    border: 2px solid $red;
    color: $red;
  }
  &.flex {
    flex-grow: 1;
    width: 100%;
  }
}
