@import '../../assets/base/variables';
@import '../../assets/base/fonts';
@import '../../assets/main.scss';
@import '../../index.scss';

.liberlandLogo {
  height: 33px;
  width: 43px;
  display: none;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    display: block;
  }
}
.main {
  max-width: 1600px;
}