@import '../../assets/base/variables';
@import '../../assets/base/fonts';
@import '../../assets/main.scss';
@import '../../index.scss';

.cardCustom{
  background: none;
}

.wrapper{
  min-height: calc(100vh - 80px);
  background-color: $lightGrey;
}

.profile {
  display: flex;
  font-size: 14px;
  color: $text4;
  flex-wrap: wrap;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    gap: 25px;
    flex-wrap: wrap;
    padding: 32px 40px;
    max-width: 100%;
    justify-content: center;
    margin: auto;
  }

  .column{
    width: 100%;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      flex: 1 1 300px;
      display: flex;
      flex-direction: column;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 24px;
    font-weight: 500;
    color: $black;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      font-size: 35px;
      margin: 0;
    }
  }

  .wrapperBlock {
    background-color: $bg4;
    padding: 0 3%;
    border-radius: 10px;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      padding: 22px 30px;
      height: 100%;
    }

  }

  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      padding-bottom: 0;
    }

    .avatarComponent{
      height: 250px;
      width: 250px;

      @media screen and (min-width: map-get($breakpoints, 'tablet')){
        height: 320px;
        width: 320px;
      }
    }

    span {
      color: $primary;
    }

    .button{
      color: #BFBFBF;
      width: 100%;
      margin-top: 20px;

      @media screen and (min-width: map-get($breakpoints, 'tablet')){
        margin-top: 30px;
      }
    }

    .avatarTitle{
      align-self: flex-start;

      @media screen and (min-width: map-get($breakpoints, 'tablet')){
        margin-bottom: 20px;
      }
    }
  }

  .liberlandId {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      align-self: flex-start;
    }
  }

  .userNameBalance {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding-bottom: 23px;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      margin-top: 0;
    }

    .userNameRole {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      span {
        text-transform: capitalize;
      }

      .liberlandLogo{
        height: 33px;
        width: 43px;
        display: none;

        @media screen and (min-width: map-get($breakpoints, 'tablet')){
          display: block;
        }
      }
    }

    .balance {
      text-transform: capitalize;
      
      font-weight: 700;
      font-size: 14px;
      color: $clearBlack;

      @media screen and (min-width: map-get($breakpoints, 'tablet')){
        font-size: 17px;
      }

      span {
        
        font-weight: 700;
      }

      .iconAdress{
        margin-top: 21px;
        display: flex;
        align-items: center;
        gap: 5px;

        @media screen and (min-width: map-get($breakpoints, 'tablet')){
          margin-top: 25px;
        }

      }

    }
  }

  .aboutUser {

    .buttons{
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 25px;

      @media screen and (min-width: map-get($breakpoints, 'tablet')){
        padding-bottom: 0;
        gap: 15px;
      }

      .textColor{
        height: 61px;
        border-radius: 6px;
        color: $black;
      }
    }

    h3 {
      padding-top: 15px;
      margin-bottom: 14px;

      @media screen and (min-width: map-get($breakpoints, 'tablet')){
        padding-top: 0;
        margin-bottom: 4px;
      }
    }

    span {
      line-height: 28px;
      font-size: 14px;
      
      @media screen and (min-width: map-get($breakpoints, 'tablet')){
        line-height: 23.15px;
        font-size: 17px;
      }

    }

    .aboutUserFooter {
      margin-top: 64px;
    }

    .itemFooterAbout {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 18px;

      @media screen and (min-width: map-get($breakpoints, 'tablet')){
        margin-bottom: 60px;
      }

      ul{
        list-style-type: none;
        padding: 0;
        color: $black;
        line-height: 19.07px;
        font-weight: 500;
        
        .bold{
          font-weight: 700;
        }

        li{
          margin: 1.5px 0;
        }
      }

      img {
        margin-right: 17px;
      }
    }
    .valueOfItem{
      margin-left: 3px;
      font-weight: 600;
    }
  }

  .startOfKyc {
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
      max-width: 70px;
      max-height: 70px;
      margin-bottom: 17px;
    }

    h3 {
      line-height: 23px;
      margin: 0;
      font-size: 16px;
    }

    span {
      font-size: 12px;
      line-height: 24px;
      text-align: center;
      margin: 10px 0 25px 0;
    }
  }
}

.font{
  font-family: $playfairDisplay;
}

