@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';
@import '../../../assets/main.scss';
@import '../../../index.scss';

.logoContainer {
  display: flex;
  align-items: flex-start;

  .logo{
    height: 45px;
    width: 150px;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      height: 68px;
      width: 229px;
    }
  }
}