@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';

.logoContainer {
  display: flex;
  align-items: flex-start;

  & > p{
    font-family: $regular;
    margin: 0 0 0 10px;
    font-size: 12px;
    font-weight: 700;
    & > span {
      font-size: 24px;
    }
  }
}