.contentWrapper {
    min-height: calc(100vh - 125px);
}
.splash {
    width: 100%;
    margin: auto 0;
}
.content {
    max-width: 600px;
}
.title {
    text-align: center;
}
.paragraph {
    text-align: center;
}