@import '../../../assets/base/variables';
@import '../../../assets/main';

.card {
    padding: 30px;
    margin-bottom: 10px;
}

.selector {
    max-width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.info {
    margin-top: 10px;
    max-width: 500px;
}

.input {
  input {
    width: 100%;
    height: 40px;
    padding: 3px 10px;
    margin-bottom: 3px;
    margin-top: 10px;
  }
  max-width: 150px;
  width: 100%;
}

.wrapper {
  margin-bottom: 20px;
  display: block;
}

.inputWrapper {
  position: relative;
  display: flex;
  margin: 0 25px 5px 25px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    margin: 10px 0 0 0;
  }
}

.error {
  font-size: 16px;
  color: $errorText;
  font-weight: 500;
}

.success {
  font-size: 16px;
  color: $succes;
  font-weight: 500;
}

.buttonRow {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    flex-direction: row;
  }
}

.stakeAll,
.withdrawAll,
.closeForm {
  margin-bottom: 20px;
  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.modal {
  margin-bottom: 15px;
}

.form {
  padding: 15px;
  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    padding: 30px;
  }
}