@import "../../assets/base/variables";
@import "../../assets/base/fonts";
@import '../../assets/main.scss';
@import '../../index.scss';

.getCitizenshipModal {
  padding: 15px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    padding: 33px 35px 40px 35px;
  }

  & .h3 {
    color: $black;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: $playfairDisplay;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      font-size: 35px;
    }
  }

  & .h4 {
    color: $text2;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
  }


  & .description {
    font-size: 14px;
    color: $text5;
    font-weight: 500;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      font-size: 17px;
    }
  }
  
  & .warning{
    color: $red;
    margin: 10px 0;
  }

  & .modalDescription{
    margin-bottom: 10px;
  }

  & .error {
    font-size: 16px;
    color: $errorText;
    font-weight: 500;
  }

  & .title {
    font-size: 14px;
    font-weight: 600;
    color: $text4;
    margin: 20px 0 5px 0;
    line-height: 29px;
    word-break: break-word;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      font-size: 17px;
    }
  }

  & .titleFlex{
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    flex-wrap: wrap;
  }

  & .buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      gap: 15px;
    }

    .button{
      flex: 1;
      color: $clearBlack;
    }
  }

  & .lawText {
    border: 1px solid red;
  }
}

.transferWithRemarkWidth {
  width: 88%;
}

@media (min-width: 640px) {
  .getCitizenshipModal {
    max-width: 765px;
  }
}

.ChoseStakeModal {
  @extend .getCitizenshipModal;
  width: 730px;
}

.dragAndDrop {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: $bg3;
  border: 1.5px dashed $bg2;
  margin: 20px 0;
  padding: 17px;
  position: relative;

  .dropZone {
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
  }

  svg {
    margin-bottom: 15px;
  }

  span {
    
    font-size: 16px;
    color: $text4;
    margin-bottom: 8px;
  }
}

.infoSection {
  margin-top: 50px;
}

.infoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 18px;
  color: $text4;

  svg {
    margin-right: 17px;
  }
}
.valueOfItem {
  margin-left: 3px;
  font-weight: 600;
  color: $text1;

  &.yellow {
    color: $primary;
  }
}

.draftTypes {
  border-radius: 15px;
  background: white;
  width: calc(100% - 22px);
  height: 56px;
  border: 1px solid #d4d4d4;
  font-size: 16px;
  padding-left: 20px;
  position: relative;
  font-weight: 500;
  color: #4e5d78;
}

.agreeDisagree{
  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    flex-direction: row;
    margin-top: 20px;
  }
  .buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 35px;
    gap: 15px;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      flex-direction: row;
      margin-top: 20px;
    }
  }
}

.onChainIdentity{
  .margin{
    margin-top: 30px;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      margin-top: 50px;
    }
  }
}

.displayNone{
  display: none;
}

.checkbox{
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}