@import "../../assets/base/variables";
@import "../../assets/base/fonts";
@import "../../assets/main.scss";
@import "../../index.scss";

.requestIcon {
  width: 18px;
  height: 18px;
  margin: 0 7px 5px 1px;
}

.copyIcon {
  cursor: pointer;
}

.icon {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.backIcon {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.primaryIcon {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-bottom: 4.9px;
}

.arrowIcon {
  width: 7px;
  height: 7px;
  margin-left: 5px;
  margin-right: 5px;
}

.whiten {
  filter: brightness(100);
}

.swapButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;

  .circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $grey;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &:hover {
      background-color: $primary;
      transform: scale(1.1);
    }

    .swapIcon {
      font-size: 20px;
      color: #333;
    }
  }
}

