@import '../../assets/base/variables';
@import '../../assets/base/fonts';


.getCitizenshipModal {
  padding: 33px 35px 40px 35px;
  width: 525px;

  & .h3{
    color: $text1;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
  }

  & .h4 {
    color: $text2;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
  }

  & .description {
    font-size: 16px;
    color: $text4;
    font-weight: 500;
  }

  & .title {
    font-size: 14px;
    font-weight: 600;
    color: $text4;
    margin: 30px 0 5px 0;
    line-height: 29px;
  }

  & .buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
  }
}

.ChoseStakeModal {
  @extend .getCitizenshipModal;
  width: 730px;
}

.dragAndDrop {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: $bg3;
  border: 1.5px dashed $bg2;
  margin: 20px 0;
  padding: 17px;
  position: relative;

  .dropZone{
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
  }

  svg {
    margin-bottom: 15px;
  }

  span {
    font-family: $medium;
    font-size: 16px;
    color: $text4;
    margin-bottom: 8px;
  }
}

.infoSection {
  margin-top: 50px;
}

.infoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 18px;
  color: $text4;

  svg {
    margin-right: 17px;
  }
}
.valueOfItem{
  margin-left: 3px;
  font-weight: 600;
  color: $text1;

  &.yellow{
    color: $primary;
  }
}

.draftTypes {
  border-radius: 15px;
  background: white;
  width: calc(100% - 22px);
  height: 56px;
  border: 1px solid #F3F3F3;
  font-size: 16px;
  padding-left: 20px;
  position: relative;
  font-weight: 500;
  color: #4E5D78;
}