@import "../../assets/base/variables";
@import "../../assets/base/fonts";
@import "../../assets/main.scss";
@import "../../index.scss";

.requestIcon {
  width: 18px;
  height: 18px;
  margin: 0 7px 5px 1px;
}

.copyIcon {
  cursor: pointer;
}

.button {
  .icon {
    width: 18px;
    height: 18px;
    margin-right: 12px;
  }
}

.backIcon {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.primaryIcon {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-bottom: 4.9px;
}

.arrowIcon {
  width: 7px;
  height: 7px;
  margin-left: 5px;
  margin-right: 5px;
}

.whiten {
  filter: brightness(100);
}