@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';

.bridgeWrapper {
  margin-top: 21px;
}

.transferTable {
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  text-align: left;
  background-color: $bg4;
  border-radius: 20px;
}

.transferTable tr td {
  padding: 10px 0;
  margin: 10px auto;
  border-top: 2px solid $bg2;
}

.input {
  margin: 10px auto;
}

.error {
  font-size: 16px;
  color: $errorText;
  font-weight: 500;
}