@import "../../../../../assets/base/variables";
@import "../../../../../assets/base/fonts";

.h3 {
  color: $text1;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px;
}

.h4 {
  color: $text2;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  color: $text4;
  font-weight: 500;
}

.error {
  font-size: 16px;
  color: $errorText;
  font-weight: 500;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: $text4;
  margin: 30px 0 5px 0;
  line-height: 29px;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}