@import '../../assets/base/variables';
@import '../../assets/base/fonts';
@import '../../assets/main.scss';

.tabsWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > * {
    margin: auto !important;
  }
}

.link {
  padding: 0 18px;
  font-size: 14px;
  font-weight: 700;
  color: $clearBlack;
  line-height: 29px;
  text-decoration: none;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    padding: 0 45px;
    font-size: 17px;
  }

  &:hover {
    border-bottom: 2px solid $text4;
  }
}

.activeLink, 
.link, 
.link:hover{
  padding-top: 8px;
  padding-bottom: 12px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

.activeLink:hover, .activeLink{
  border-bottom: 2px solid $primary;
}