@import '../../assets/base/variables';
@import '../../assets/base/fonts';
@import '../../assets/main.scss';

.tabsWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.link {
  padding: 0 18px;
  font-size: 14px;
  font-weight: 700;
  color: $clearBlack;
  line-height: 29px;
  text-decoration: none;
  border-bottom: 2px solid transparent;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    letter-spacing: 1px;
    padding: 0 20px;
    font-size: 13px;
  }

  &:hover {
    border-bottom: 2px solid $text4;
  }
}

.activeLink, 
.link, 
.link:hover{
  padding-top: 8px;
  padding-bottom: 12px;
  
  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    padding-top: 12px;
    padding-bottom: 20px;
  }
}

.activeLink:hover, .activeLink{
  border-bottom: 2px solid $primary;
}