@import '../../../../assets/base/variables';
@import '../../../../assets/main.scss';
@import '../../../../index.scss';

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    .title{
      white-space: nowrap;
      font-size: 24px;
      font-family: $playfairDisplay;
      font-weight: 500;
      @media screen and (min-width: map-get($breakpoints, 'tablet')){
        font-size: 28px;
      }

      .copyIcon {
        cursor: pointer;
      }
    }

    .buttons{
      flex-grow: 1;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      @media screen and (min-width: (1365px)){
        flex-grow: unset;
      }

      @media screen and (min-width: map-get($breakpoints, 'tablet')){
          gap: 15px;

          @media screen and (min-width: map-get($breakpoints, 'desktop')){
            flex-wrap: nowrap;
        }
      }

      & > button{
        order: 1;
        min-width: unset;
        white-space: nowrap;
        flex: 1;
        font-size: 13px; 
        padding: 12px 10px;
        @media screen and (min-width: map-get($breakpoints, 'tablet')){
          padding: 12px 20px;
          font-size: 16px;
        }

        &:last-child{
          flex-basis: 100%;
          order: 0;

          @media screen and (min-width: (575px)) {
            flex-basis: unset;
            order: 2;

            @media screen and (min-width: map-get($breakpoints, 'tablet')){
              flex-basis: 100%;
              order: 0;

              @media screen and (min-width: (1000px)){
                flex-basis: unset;
                order: 2;
              }
            }
          }
        }
      }
    }
}

.greyWrapper{
    background: $lightGrey;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
        padding: 16px 30px;
    }

    .smallHeader{
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .title{
        margin: 0 0 12px;
        font-size: 20px;
        font-family: $playfairDisplay;
        font-weight: 500;

        @media screen and (min-width: map-get($breakpoints, 'tablet')){
            font-size: 24px;
            margin-bottom: 16px;
        }
      }

      ol{
        margin: 0;
        list-style-position: inside;
        padding: 0;
  
        .listItem{
          &::marker{
            color: $lightBlue;
          }
        }
      }
    }

    .button{
      flex: 1;
      height: 50px;
      padding: 0 2%;

      font-size: 13px; 
      @media screen and (min-width: map-get($breakpoints, 'tablet')){
        font-size: 16px;

        @media screen and (min-width: (1075px)){
          flex: unset;
        }
      }
    }

    .discussionWrapper{
      margin-top: 16px;
      font-size: 14px;
      font-weight: 500;
    
      @media screen and (min-width: map-get($breakpoints, 'tablet')){
        font-size: 17px;
      }
    }

    .centerItem{
        display: inline-flex;
        align-items: center;
    }
}

.copyIcon {
  cursor: pointer;
}

.blueText{
  color: $lightBlue;
}

.itemWrapper{
    display: flex;
    flex-direction: column;
    gap: 25px;
  
    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      gap: 30px;
    }
}

.shown{
  height: unset;
  
}

.hidden{
  height: 0;
}

.none{
  display: none;
}