@import '../../../../../assets/base/variables';

.metaInfoLine{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
  margin-top: 0px;
  height: 3.5rem;
}
.description{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.referendumItemContainer{
  background-color: $transparent3;
  margin-bottom: 2rem;
}
.buttonContainer{
  margin-top: 1rem;
  flex-direction: row;
  justify-content: center;
  display: flex;
}
.metaTextInfo{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.votesCount{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-weight: bolder;
}
.votesInfo{
  width: 50%;
}
.yayText{
  color: $primary2;
}
.nayText{
  color: $primary4;
}
.progressBar{
  background-color: $primary4;
  border-radius: 10px;
  width: 100%;
  height: 0.75rem;
}
.yayProgressBar{
  background-color: $primary2;
  border-radius: 10px;
  height: 0.75rem;
}
.yayButton{
  margin-right: 0.75rem;
}
.nayButton{
  margin-left: 0.75rem;
}
.hashText{
  font-size: 0.6rem;
}
.discussionMetaLine{
  display: flex;
  justify-content: space-between;
}
.votingTimeText{
  font-size: smaller;
}
