@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}


$regular: 'Playfair Display';
$medium: 'Inter';