// colors

$primary: #F7D034;
$primary2: #38CB89;
$primary4: #FF5630;
$bg3: #FAFBFC;
$bg2: #d4d4d4;
$bg4: #FFFFFF;
$secondary3: #F6E290;
$secondary2: #E5F7EF;
$secondary4: #FFEFEB;
$transparent1: #F4F8FF;
$transparent2: #F5FCF9;
$transparent3: #FFFBF1;
$transparent4: #FFF6F4;
$secondary: #E5F6EF;
$bg1: #C1C7D0;
$lightGrey: #F6F6F6;
$black: #231F20;
$clearBlack: #000000;
$succes: #7DC035;
$blueLogo: #00336A;
$red: #FF0000;


// text
$text1: #323B4B;
$text2: #4E5D78;
$text3: #8A94A6;
$text4: #B0B7C3;
$text5: #BFBFBF;
$text6: #BCBCBC;
$errorText: $primary4;