@import "../../../../assets/base/variables";
.politicianCardContainer {
  flex-direction: row;
  display: flex;
  height: 2rem;
  align-items: center;
  justify-items: center;
  margin: 10px;
  border-width: 2px;
  border-color: $primary;
  border-style: solid;
  background-color: $secondary3;
  padding-top: 5px;
  padding-bottom: 5px;
}
.politicianData {
  display: flex;
  flex: 3;
  align-items: center;
  justify-items: center;
}
.selectCandidateContainer {
  display: grid;
  flex: 1;
  align-items: flex-end;
  justify-items: flex-end;
  flex-direction: row;
}
.selectCandidateItems {
  display: flex;
  flex: 1;
  align-items: center;
  justify-items: center;
}
.politicianImageContainer{
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-items: center;
  height:3rem;
}
.politicianPartyImageContainer{
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-items: center;
  height:3rem;
}
.selectCandidateImageContainer{
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-items: center;
  height:3rem;
}
.politicianDisplayName{
  font-weight: bold;
  font-size: 1.1rem;
  color: $text2;
}
.maxContent {
  width: max-content;
  display: flex;
}