@import "../../../../assets/base/variables";
@import '../../../../assets/main.scss';

.doubleChevron{
  color: $clearBlack;
  margin-bottom: 4px;
  font-size: 24px;
  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    font-size: 32px;
  }
}

.background{
  background: $primary;
}