@import "../../../../assets/base/variables";
@import '../../../../assets/main.scss';

.doubleChevron{
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
  width: 100%;
  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    font-size: 17px;
  }
}

.background{
  background: $primary;
}