.gradient {
    width: 100%;
    height: 50px;
}

.screen {
    max-width: 1200px;
    min-height: 600px;
}

.noAccount {
    margin-top: 20px;
}

.operations {
    margin-top: 20px;
}

.processes {
    max-width: 200px;
}