@import '../../../assets/main.scss';

.contentWrapper{
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
        gap: 40px; 
      }
}