@import '../../../assets/main.scss';

.contentWrapper{
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
        gap: 40px; 
      }
}

.modal{

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    min-width: 550px;
  }

  h3{
    font-size: 20px;
    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      font-size: 26px;
    }
  }

  button{
    width: 100%;
  }
}