@import '../../../../assets/base/variables';
@import '../../../../assets/base/fonts';
@import '../../../../assets/main.scss';

.gridList{
    font-size: 14px;
    @media screen and (min-width: map-get($breakpoints, 'tablet')){
        font-size: 17px;
    }

    @media screen and (min-width: map-get($breakpoints, 'desktop')){
      text-align: left;
      display: grid;
      grid-template-columns: 4fr 3fr 2fr;
      justify-content: space-between;

      @media screen and (min-width: map-get($breakpoints, 'widescreen')){
        grid-template-columns: 7fr 3fr 2fr;
        @media screen and (min-width: map-get($breakpoints, 'hd-screen')){
            grid-template-columns: 10fr 3fr 2fr;
        }
    }
      & > *{
        text-align: left;
  
        &:nth-child(2), &:nth-child(3){
          text-align: right;
          justify-self: flex-end;
        }
      }
  
    }
}
  