.success {
    color: #79BF2E!important;
}
.card {
    width: 100%;
}
.title {
    margin-top: 7px;
}
.date {
    margin-top: 15px;
}
.header {
    border-bottom: none!important;
}
.actions {
    padding: 0 7px;
}
.title {
    min-width: 160px;
}
.date,
.type {
    font-size: 14px;
}