.nfts{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  
  .topInfo{
    display: flex;
    justify-content: space-between;
  }
  
  .menu{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: white;
    padding: 15px 0;
    border-bottom: 2px solid #ddd;
    font-family: 'Arial', sans-serif;
  }
  
  .menu span {
    font-size: 16px;
    font-weight: 7000;
    color: #333;
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s;
    padding: 5px;
    position: relative;
  }
  
  .imageWrapper{
    width: 300px;
    height: 300px;
    min-height: 300px;
    min-width: 300px;
    position: relative;
    overflow: hidden;
  
    .openNewTab{
      top: 0;
      right: 0;
    }
  
    .price{
      left: 0;
      top: 0;
    }
  
    .menu{
      left: 0;
    }
  
    .showImage {
      margin: 5px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      height: 35px;
      box-sizing: border-box;
      width: fit-content;
      cursor: pointer;
  
      .icon {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        transition: all 0.1s ease;
  
        &:hover {
          transform: scale(1.1);
      }
    }
  }
  
    .image{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .buttonContainer{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }