@import "../../../../assets/base/variables";
@import '../../../../assets/main.scss';

.politicianCardContainer {
  padding: 11px;
  border-radius: 10px;
  background: $lightGrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    flex-direction: row;
  }
}


.unselectContainer,
.orderButtonImageContainer{
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileNone{
  display: none;
  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    display: block;
  }
}

.unselectContainerRed{
  background: $red;
}

.unselectContainer{
  border: none;
  height: 35px;
  width: 100%;

  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    width: unset;
  }

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    height: 50px;
  }

  .cross{
    color: white;
    font-weight: bold;
    font-size: 13px;
    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      font-size: 17px;
    }
  }
}

.orderButtonImageContainer{
  border: 2px solid $succes;
  height: 35px;
  width: 35px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    height: 50px;
    width: 50px;
  }

  .icon{
    color: $succes;
    font-size: 24px;
    line-height: 17px;
    align-self: flex-end;
    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      font-size: 36px;
      line-height: 25px;
    }
  }

  .arrowDown{
    align-self: flex-start;
  }
}

.copyIcon{
  cursor: pointer;
}

.orderButtonImageContainerRed{
  border-color: $red;

  .icon{
    color: $red;
  }
}

.leftColumn,
.rightColumn,
.politicianDisplayName{
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;

  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    width: unset;
  }
}

.leftColumn{
  gap: 9px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    gap: 15px;
  }
}

.rightColumn{
  gap: 5px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    gap: 10px;
  }
}


.politicianImageContainer{
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 6px;
  height: 27px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    height: 42px;
  }
}

.buttonWrapper{
  display: flex;
  gap: 10px;
  width: 100%;

  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    width: unset;
  }
}

.mobileRemove{
  display: block;

  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    display: none;
  }
}

.buttonFont{
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    font-size: 17px;
  }
}

.backgroundPrimary{
  background: $primary;
}

.minWidth{
  min-width: 90px;
}