@import "../../../../assets/base/variables";
@import '../../../../assets/main.scss';

.politicianCardContainer {
  padding: 11px;
  border-radius: 10px;
  background: $lightGrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}


.unselectContainer,
.orderButtonImageContainer{
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unselectContainerRed{
  background: $red;
}

.unselectContainer{
  border: none;
  height: 35px;
  width: 35px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    height: 50px;
    width: 50px;
  }

  .cross{
    color: $bg4;
    font-size: 20px;
    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      font-size: 28px;
    }
  }
}

.orderButtonImageContainer{
  border: 2px solid $succes;
  height: 35px;
  width: 35px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    height: 50px;
    width: 50px;
  }

  .icon{
    color: $succes;
    font-size: 24px;
    line-height: 17px;
    align-self: flex-end;
    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      font-size: 36px;
      line-height: 25px;
    }
  }

  .arrowDown{
    align-self: flex-start;
  }
}

.copyIcon{
  cursor: pointer;
}

.orderButtonImageContainerRed{
  border-color: $red;

  .icon{
    color: $red;
  }
}

.leftColumn,
.rightColumn,
.politicianDisplayName{
  display: flex;
  align-items: center;
  font-weight: 700;
}

.leftColumn{
  gap: 9px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    gap: 15px;
  }
}

.rightColumn{
  gap: 5px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    gap: 10px;
  }
}


.politicianImageContainer{
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 6px;
  height: 27px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    height: 42px;
  }
}
