.payMeContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.payMe {
  max-width: 800px;
}
.successModal {
  padding: 0 15px 15px 15px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}