@import '../../assets/main.scss';

.haveNotExtension {
  display: flex;
  height: 100vh;
  background-color: $bg4;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
