@import '../../assets/base/variables';

.walletWrapper {
  padding: 8px 10px;
  @media (min-width: 48em) {
    padding: 8px 30px;
  }
}

.haveNotExtension {
  display: flex;
  height: 100vh;
  background-color: $bg4;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
