@import '../../assets/base/variables';
@import '../../assets/main.scss';

.legislationContent {
    white-space: pre-wrap;
    word-break: break-word;
}

.blue{
    color: $lightBlue;
}

.text{
  font-size: 14px;
  font-weight: 500;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    font-size: 17px;
  }
}