@import '../../assets/base/variables';
@import '../../assets/base/fonts';
.votingWrapper {
  padding: 8px 30px;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;;
  margin-bottom: 40px;

  & > div {
    margin: 0;
  }
}

