@import '../../assets/base/variables';
@import '../../assets/base/fonts';
@import '../../assets/main';

.contentWrapper {
  background-color: var(--content-bg);
}
.header {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid var(--main-border);
  position: sticky;
  z-index: 998;
  cursor: pointer;
  top: 5px;
  margin-bottom: 7px;
  left: 0;

  @media screen and (min-width: map-get($breakpoints, 'tablet')) {
    cursor: initial;
  }
}
.pageTitleWrapper {
  margin-bottom: 15px;
}
.menu {
  flex: 1;
  min-width: 0;
}
.menuIcon {
  margin-left: 20px;
  cursor: pointer;
}
.mobileMenuOpen {
  width: 100%!important;
  max-width: 100%!important;
  height: 100%;
  top: 0;
  margin: 0!important;
  padding: 0!important;
}
.mobileMenuOpenContent {
  border-radius: 0!important;
  height: 100vh;
  overflow: auto;
  background-color: var(--mobile-menu-open)!important;
}
.sider {
  height: 100%;
  width: 100%;
  max-width: calc(100% - 40px);
  border-bottom: none;

  @media screen and (min-width: map-get($breakpoints, 'tablet')) {
    border-bottom: 1px solid var(--main-border);
    max-width: initial;
    width: unset;
    max-width: unset;
  }
}
.switchContainer,
.changeWallet {
  &:hover,
  &:focus,
  &:active {
    background-color: transparent!important;
  }
  background-color: transparent!important;
}

.switchContainer {
  height: 50px!important;
}
.changeWallet {
  height: 105px!important;
}
.switch {
  margin-top: 5px;
  height: 25px;
  width: 100%;
}
.content {
  max-width: 2048px;
  min-height: 280px;
  margin: 0;
  padding: 10px 25px;

  @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    padding: 10px 50px;
  }
}
.version {
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;  
  margin-right: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 1px solid var(--main-border);
  margin-top: 50px;

  @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    flex-direction: row;
  }
}

.footerItem {
  width: 100%;

  &:first-child {
    margin-bottom: 50px;
  }

  @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    width: auto;
    min-width: 250px;

    &:first-child {
      margin-bottom: 0;
      min-width: 0;
      max-width: 206px;
      margin-right: auto;
    }
  }
}

.icon {
  color: var(--main-color);
  transform: scale(calc(20 / 17));
}
.navigationTitle {
  padding-left: 10px;
}

.logo {
  margin: 10px 20px 10px 10px;
}

.mobileLogo {
  margin: 0 auto;
}

.user {
  margin-left: auto;
  margin-right: 35px;
}

.mobileUser {
  margin-right: 15px;
  display: flex;
}

.social {
  color: var(--main-color)!important;
  &a:visited {
    color: var(--main-color)!important;
  }
}

.center {
  align-content: center;
}

.slogan {
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  margin-left: auto;

  @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    text-align: right;
    margin-right: 20px;
    color: var(--description-color);
    width: 100%;
    font-size: 14px;
  }
}

.copyright {
  font-size: 12px;
  @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    font-size: 14px;
  }
}

.seal {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 95px;
  height: 95px;
}

.nextToSeal {
  width: 100%;
  max-width: 206px;
}

.donate {
  margin-left: auto;
  font-size: 10px;
  @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    font-size: 12px;
  }
}

.discouraged {
  color: $text3;
}