@import '../../assets/base/variables';
@import '../../assets/base/fonts';
@import '../../assets/main';

.header {
  display: flex;
  align-items: center;
  height: 50px;
  border-top: solid 3px #F3CB28;
}
.menu {
  flex: 1;
  min-width: 0;
}
.sider {
  height: 100%;
  border-right: 0;
}
.content {
  min-height: 280px;
  margin: 0;
}
.contentContainer {
  padding: 30px 35px;
}
.version {
  font-family: Open Sans;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;  
  margin-right: 20px;
}
.footerTitle {
  color: #ACBDC5;
  leading-trim: both;
  text-edge: cap;
  font-family: "Open Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (min-width: map-get($breakpoints, 'tablet')) {
    flex-direction: row;
  }
}

.icon {
  width: 25px;
  height: 25px;
}

.logo {
  width: 136px;
  margin: 10px 20px 10px 10px;
}

.user {
  margin-left: auto;
  margin-right: 35px;
}