@import '../../assets/base/variables';
@import '../../assets/base/fonts';
@import '../../assets/main';

.header {
  display: flex;
  align-items: center;
  height: 50px;
  border-top: solid 3px #F3CB28;
  border-bottom: 1px solid #ECEBF0;
}
.menu {
  flex: 1;
  min-width: 0;
}
.sider {
  height: 100%;
  border-right: 1px solid #ECEBF0;
}
.content {
  min-height: 280px;
  margin: 0;
  padding: 10px 25px;

  @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    padding: 10px 50px;
  }
}
.version {
  font-family: Open Sans;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;  
  margin-right: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 1px solid #ECEBF0;

  @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    flex-direction: row;
  }
}

.footerItem {
  width: 100%;

  &:first-child {
    margin-bottom: 50px;
  }

  @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    width: auto;
    min-width: 250px;

    &:first-child {
      margin-bottom: 0;
      min-width: 0;
      max-width: 206px;
      margin-right: auto;
    }
  }
}

.icon {
  width: 25px;
  height: 25px;
}

.logo {
  width: 136px;
  margin: 10px 20px 10px 10px;
}

.user {
  margin-left: auto;
  margin-right: 35px;
}

.social {
  width: 15px;
  height: 15px;
}

.center {
  align-content: center;
}

.pageTitle {
  font-family: Playfair Display;
  font-size: 30px !important;
  font-weight: 600 !important;
  line-height: 33px !important;
  letter-spacing: -0.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #243F5F !important;
}

.slogan {
  font-family: Open Sans;
  font-size: 10px;
  font-style: italic;
  font-weight: 600;
  line-height: 13.62px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;  

  @media screen and (min-width: map-get($breakpoints, 'tablet')) {
    font-size: 12px;
    line-height: 16.34px;
    text-align: right; 
  }
}