@import '../../assets/base/variables';
@import '../../assets/base/fonts';

.input {
  border-radius: 15px;
  background: white;
  width: calc(100% - 22px);
  height: 56px;
  border: 1px solid $bg2;
  font-family: $medium;
  font-size: 16px;
  padding-left: 20px;
  position: relative;
  font-weight: 500;
  color: $text2;
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: $text2 !important;
  }
  &:focus {
    outline: none;
    border: 1px solid $primary;
  }

  &.withIcon{
    padding-left: 50px;
    width: calc(100% - 52px);
  }

  &::placeholder { 
    color: $text4;
    opacity: 1;
  }
}

.inputWrapper {
  position: relative;
}

.inputIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  cursor: default;
  z-index: 9;
}

.passwordEye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
}

.hiddenInput {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox{
  display: inline-block;
  width: 24px;
  height: 24px;
  background: $bg3;
  border-radius: 8px;
  transition: all 150ms;
  margin-right: 17px;
  border: 1px solid #d4d4d4;
  cursor: pointer;
  position: relative
}

.checkbox input{
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0
}

.checkboxIcon {
  fill: none;
  stroke: $text4;
  stroke-width: 2px;
  visibility: hidden;
  position: absolute
}

.checkbox input:checked ~ .checkboxIcon {
  visibility: visible;
}

.checkboxLabel{
  color: $text4;
  font-size: 16px;
}

.checkboxInputWrapper {
  display: flex;
  align-items: center;
}