@import '../../assets/base/variables';
@import '../../assets/base/fonts';
@import '../../assets/main.scss';
@import '../../index.scss';

.card {
  background: $bg3;
  border-radius: 10px;
  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    border-radius: 0;
  }
}

.backgroundNone{
  background: none;
}