@import '../../assets/variables';
@import '../../assets/fonts/fonts';

.card {
  padding: 30px;
  background: $bg3;
  border-radius: 20px;
}

.cardTitle {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}