@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';

.actionButtonsWrapper {
  display: flex;
}

.actionButton {
  height: 43px;
  width: 63px;
  border-radius: 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
  &.actionButtonRed{
    background: $secondary4;
  }
  &.actionButtonGreen{
    background: $secondary2;
  }

  & > svg {
    opacity: 1;
  }
}

.status {
  display: flex;
  align-items: center;

  &.red {
    color: $primary4;
  }

  &.green {
    color: $primary2;
  }

  svg {
    margin-right: 7px;
  }
}

.avatarWrapper{
  display: flex;
  & > div {
    border: 2px solid white;
    margin-left: -10px;
  }

  .emptyAvatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $bg1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
}
