.itemsWrapper{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .item{

    & > h3{
      font-size: 25px;
      margin-bottom: 15px;
    }

    .content{
      margin: 15px 0;


      .title{
        font-size: 18px;
        font-weight: 700;
      }
    }

    .buttonMore{
      margin-top: 15px;
      display: flex;
      justify-content: flex-end;
    }

    .dataButtons{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap:30px;

      .buttonsWrapper{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 10px;
        flex-wrap: wrap;

        & > button {
          flex: 1;
        }
      }
    }
  }
}

.textWrapper{
  display: flex;
  justify-content: flex-start;

  .list{
    margin: 0;
    list-style-position: inside;
  }
}

.copyIcon{
  cursor: pointer;
}