@import '../../../assets/base/variables';
@import '../../../assets/main';

.details {
  max-width: 500px;
}
.card {
  width: 100%;
  max-width: 100%!important;
}
.actions {
  margin-left: 20px;
}
.assets {
  max-width: 1600px;
}