@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';
@import '../../../assets/main.scss';

.nominatorWrapper{
  margin-top: 25px;
  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    margin-top: 30px;
  }
}

.nominatorsList{
  width:100%
}

.updateNominationsContainer{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  gap: 10px;
  flex-wrap: wrap;

  & > button{
    width: 100%;
    @media screen and (min-width: map-get($breakpoints, 'phone')){
      width: unset;
    }
  }

  .button{
    padding-left: 10px;
    padding-right: 10px;
  }
}
