@import '../../../assets/base/variables';
@import '../../../assets/main.scss';

.companyCardContainer{
  background-color: $transparent3;
  margin-bottom: 0.75rem;
}

.companyButtons{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){

    @media screen and (min-width: map-get($breakpoints, 'desktop')){
      justify-content: flex-end;
      flex-direction: row;
    }
  }

  & > a > button {
    width: 100%;
  }

  & > *{
    flex: 1;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      flex: 1;
  
      @media screen and (min-width: map-get($breakpoints, 'desktop')){
        flex: unset;
      }
    }
  }
  

}