@import '../../assets/base/variables';
@import '../../assets/base/fonts';

.homeContentWrapper {
  display: flex;
}

.homeMain {
  width: 100%;
  min-height: 860px;
}

.switchContentWrapper {
  display: flex;
  padding: 30px;
  background-color: $bg3;
}