@import '../../assets/base/variables';
@import '../../assets/base/fonts';

.homeContentWrapper {
  display: flex;
}

.homeMain {
  min-height: 860px;
  flex: 1 1 0%;
}

.switchContentWrapper {
  display: flex;
  padding: 30px;
  background-color: $bg3;
}