@import '../assets/base/variables';
@import '../assets/main.scss';
@import '../index.scss';

.contentWrapper{
  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    min-height: calc(100vh - 150px);
    background-color: $lightGrey;
    padding: 35px 2.5%
  }

  .boxWrapper{
    margin-top: 21px;
    padding: 15px;
  
    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      padding: 22px 30px;
      background-color: $bg4;
      border-radius: 10px;
    }
  }
}

.sectionWrapper {
  background: $lightGrey;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    background: none;
  }
  .menuAddressWrapper{
    padding: 12px 4%;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      padding: 10px 2.5% 0 2.5%;
    }
  }
}

.overviewWrapper {
  word-break: break-word;
  padding: 15px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    margin-top: 0;
    padding: 22px 30px 25px 30px;
    background-color: $bg4;
    border-radius: 10px;
  }
}

.wrapperCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  gap:10px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    margin-top: 20px;
    gap: 28px;
  }

  .button{
    margin-top: 10px;
    color: $clearBlack;
    font-weight: 700;
    font-size: 13px;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      font-size: 15px;
    }

    & span{
      display: inline-block;
      margin-left: 2px;
    }
  }
}


.transactionHistoryCard{
  border-radius: 20px;
  margin-top: 20px;

  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    margin-top: 18px;
    padding: 12px 0;
  }
}

.transactionHistoryCardHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  padding: 14px 15px;
  border-radius: 10px;
  background-color: $lightGrey;
  font-size: 14px;
  font-weight: 700;

  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    padding: 24px 25px;
    font-size: 15px;
    gap: 2px;
  }
}

.transactionHistoryCardHeaderDesktop{
  display: none;
}

.transactionHistoryCardHeaderMobile{

  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    display: none;
  }
}

.transactionHistoryCardMain{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;

  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    margin: 20px 0;
    padding: 0 12px;
    font-size: 15px;
  }
}

.cardTitle {
  font-weight: 500;
  font-family: $playfairDisplay;
  font-size: 24px;
  margin: 0;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    font-size: 28px;
  }
}