@import '../assets/base/variables';
@import '../assets/base/fonts';

.dynamicFieldsEntityCard{
  background-color: #FFFBF1;
  margin-bottom: 0.75rem;
}

.error {
  font-size: 12px;
  line-height: 16px;
  color: $errorText;
};

.mediumMaxSize{
  max-width: 1000px;
  margin: 5px;
}
