@import '../../../../../assets/base/variables';
@import '../../../../../assets/main.scss';
@import '../../../../../index.scss';

.metaInfoLine{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  //flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 25px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    margin-top: 30px;
  }
}

.metaTextInfo{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.votesCount{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.votesInfo{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    flex: 1
  }
}

.progressBar,
.yayProgressBar{
  height: 8px;
  border-radius: 20px;
}

.progressBar{
  background-color: $red;
  width: 100%;
}

.yayProgressBar{
  background-color: $succes;
}

.hashText{
  font-size: 0.8rem;
}
.discussionMetaLine{
  display: flex;
  justify-content: space-between;
  margin: 24px 0;

  > div {
    flex: 1
  }
}
.votingTimeText{
  font-size: smaller;
}
.rowEnd {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;

  > * {
    margin: 0 4px;
  }
}

.counterItem{
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  gap: 5px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    font-size: 17px;
  }

  .circle{
    display: inline-flex;
    height: 19px;
    width: 19px;
    border-radius: 50%;
  }
  
  .circleAye{
    background: $succes;
  }
  
  .circleNay{
    background: $red;
  }
}

