@import '../../../../../assets/base/variables';

.metaInfoLine{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  //flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 0px;
  height: 4.5rem;
  @media (min-width: 48em) {
    flex-direction: row;
  }
}
.description{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.referendumItemContainer{
  background-color: $transparent3;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top:1rem;
  padding-bottom:1rem;
}
.buttonContainer{
  margin-top: 1rem;
  flex-direction: row;
  justify-content: center;
  display: flex;
}
.metaTextInfo{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.votesCount{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-weight: bolder;
}
.votesInfo{
  width: 100%;
  margin: 12px;
  @media (min-width: 48em) {
    flex: 1;
  }
}
.proposeData {
  flex: 1;
  margin: 0 12px;
}
.yayText{
  color: $primary2;
}
.nayText{
  color: $primary4;
}
.progressBar{
  background-color: $primary4;
  border-radius: 10px;
  width: 100%;
  height: 0.75rem;
}
.yayProgressBar{
  background-color: $primary2;
  border-radius: 10px;
  height: 0.75rem;
}
.yayButton{
  margin-right: 0.75rem;
}
.nayButton{
  margin-left: 0.75rem;
}
.hashText{
  font-size: 0.8rem;
}
.discussionMetaLine{
  display: flex;
  justify-content: space-between;
  margin: 24px 0;

  > div {
    flex: 1
  }
}
.votingTimeText{
  font-size: smaller;
}
.rowEnd {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;

  > * {
    margin: 0 4px;
  }
}
.copyIcon {
  cursor: pointer;
}
