@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';

.headerWrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px 78px;
}

.signInWrapper {
  max-width: 540px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  & > h3 {
    font-family: $regular;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    color: $text1;
  }

  p {
    font-family: $medium;
    font-size: 18px;
    margin: 20px 0 30px 0;
    color: $text3;
  }
}

.divider {
  display: flex;
  align-items: center;
  color: $text4!important;

  & > svg {
    width: 230px;
    padding: 0 23px;
  }
}

.signInForm {
  width: 100%;
}

.additionalActions {
  color: $text4;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  & > a {
    color: inherit;
    text-decoration: none;
  } 
}

.yellowLink{
  color: $primary;
  text-decoration: none;
}
.signUpInfo {
  margin-top: 36px!important;
  margin-bottom: 0!important;
}

.error {
  font-size: 12px;
  line-height: 16px;
  font-family: $medium;
  color: $errorText;
};

.inputWrapper{
  margin-bottom: 30px;
}