@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';

.headerWrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px 78px;
}

.signInWrapper {
  max-width: 540px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  .icon{
    width: 10%;
    margin-right: 10px;
  }

  & > h3 {
    
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    color: $text1;
  }

  p {
    
    font-size: 18px;
    margin: 20px 0 30px 0;
    color: $text3;
  }
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: $text4!important;

  & > svg {
    width: 230px;
    padding: 0 23px;
  }
}

.signInForm {
  width: 100%;
}

.additionalActions {
  color: $text4;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  & > a {
    color: inherit;
    text-decoration: none;
  }
}

.yellowLink{
  color: $primary;
  text-decoration: none;
}
.extraInfo {
  margin-top: 36px!important;
  margin-bottom: 0!important;
  text-align: center;
}

.error {
  font-size: 12px;
  line-height: 16px;
  
  color: $errorText;
};

.inputWrapper{
  display: flex;
  justify-content: center;
  padding: 0 10px 30px 10px;
}

.addressSwitcher{
  border-radius: 15px;
  background: white;
  width: 100%;
  height: 56px;
  border: 1px solid #d4d4d4;
  font-size: 16px;
  padding-left: 20px;
  position: relative;
  font-weight: 500;
  color: #4E5D78;
}

.twoFAbuttons{
  color: #8A94A6;
  position: fixed;
  bottom: 0px;
  right: 0px;
}
