@import '../../../assets/base/variables';
.referendumsSection {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.referendumsCard {
  padding: 0.5rem;
}

.proposeReferendumLine {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 10px;
}

.proposeReferendumLine * {
  margin-left: 10px;
}

.linkButton {
  text-decoration: none;
}
