@import '../../../assets/base/variables';
@import '../../../index.scss';
@import '../../../assets/main.scss';

.proposeReferendumLine * {
  margin-left: 10px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    gap: 40px;
  }
}

.title{
  font-weight: 400;
  font-family: $playfairDisplay;
  font-size: 24px;
  margin: 0 0 30px;
  padding: 0 15px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    padding: 0;
    font-size: 28px;
    margin-bottom: 15px;
  }
}

.overViewCard{
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    gap: 30px;
  }
}
