@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';

.currentAssemble {
  display: flex;
  justify-content: space-between;
  & > div {
    flex-basis: 43%;
    min-height: 630px;

    &:last-child > div{
      padding-top: 78px;
    }
  }
  
}