@import '../../assets/base/variables';
@import '../../assets/base/fonts';
@import '../../assets/main.scss';
@import '../../index.scss';

.status {
  text-transform: capitalize;
  border-radius: 42px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  color: $clearBlack;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    font-size: 14px;
    padding: 5px 15px;
  }
  
  &.completed {
    background-color: $succes;
  }

  &.declined {
    background-color: $secondary4;
  }

  &.pending {
    background-color: $secondary3;
  }
}