@import '../../assets/base/variables';
@import '../../assets/base/fonts';
@import '../../assets/main.scss';

.status {
  text-transform: capitalize;
  border-radius: 42px;
  padding: 5px 10px;
  font-size: 11px;
  font-weight: 700;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    font-size: 11px;
    padding: 8px 13px;
  }
  
  &.completed {
    color: $bg4;
    background-color: $succes;
  }

  &.declined {
    color: $primary4;
    background-color: $secondary4;
  }
  &.pending {
    color: $primary;
    background-color: $secondary3;
  }
}