@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';
@import '../../../assets/main.scss';

.walletAddressLineWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 20px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    gap: 10px;
    align-items: flex-start;
  }
}

.addressesWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    flex-direction: column;
  }
}

.navWallet{
  display: flex;
  flex-wrap: wrap;
  gap: 21px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    gap: 0;
  }
}

.addressTitle {
  font-size: 14px;
  color: $clearBlack;
  font-weight: 500;
  line-height: 29px;
}

.address {
  font-size: 14x;
  color: $clearBlack;
  display: flex;
  align-items: center;
  font-weight: 700;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    font-size: 17px;
  }

  .icon{
    margin-right: 5px;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      display: none;
    }
  }

}

.singleAddressWrapper {
  display: flex;
  flex-direction: row;
  gap: 7px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    gap: unset;
    flex-direction: column;
  }
}

.buttonsWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 9px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    gap: 20px;
    margin-bottom: 15px;
  }

  .button{
    font-size: 13px;
    font-weight: 700;
    color: $clearBlack;
    flex: 1;
    padding: 17px 0;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      padding: 18px 26px;
      font-size: 17px;
      flex: unset;
    }
  }

}

.copyIcon {
  cursor: pointer;
}
