@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';

.walletAddressLineWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.addressesWrapper {
  display: flex;
  margin-right: 60px;
}

.addressTitle {
  font-size: 14px;
  color: $text4;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 29px;
}

.address {
  font-size: 22px;
  color: $text1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  margin: 0;
}

.singleAddressWrapper {
  width: 213px;
  margin-right: 24px;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &>button {
    margin-left: 20px;
  }
}

.copyIcon {
  cursor: pointer;
}