@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';

.walletAddressLineWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.addressesWrapper {
  display: flex;
  width: 100%;
  @media (min-width: 48em) {
    margin-right: 60px;
    width: 250px;
  }
}

.addressTitle {
  font-size: 14px;
  color: $text4;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 29px;
}

.address {
  font-size: 15px;
  color: $text1;
  display: flex;
  align-items: center;
  //justify-content: space-between;
  font-weight: 600;


  @media (min-width: 48em) {
    font-size: 20px;
  }

}

.singleAddressWrapper {
  display: flex;
  flex-direction: row;
  @media (min-width: 48em) {
    flex-direction: column;
  }
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

  &>button {
    margin: 10px;
  }
}

.copyIcon {
  cursor: pointer;
}
