.legislationCard {
    margin-bottom: 15px;
}
.legislationInfoContainer {
    flex-direction: row;
    display: flex;
    margin-bottom: 15px;
}
.legislationContent {
    align-items: flex-start;
    flex: 4;
    display: flex;
}
.vetoContent {
    align-items: flex-end;
    flex: 1;
    display: flex;
}
.vetoInfo {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin-right: 1rem;
}

.rowEnd {
    display: flex;
    justify-content: end;
    align-items: center;
  
    > * {
      margin: 0 4px;
    }
  }