@import '../../../assets/base/variables';
@import '../../../assets/main.scss';
@import '../../../index.scss';

.actions {
    padding-right: 15px;
}
.card {
    width: 100%!important;
    max-width: 100%!important;
}
.paragraph {
    max-width: 100%!important;
}