@import '../../../assets/main.scss';

.stakingWrapper {
  display: flex;
  gap: 25px;
  flex-direction: column;

  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    flex-direction: row;
  }

  h3 {
    padding-bottom: 14px;
  }

  .customCard{
    flex: 1;
    margin-top: 0;
    font-size: 14px;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      font-size: 16px;
    }
  
  }

  .stakingCard{
    display: flex;
    flex-direction: column;
  }

  .internalWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      margin-bottom: 0;
    }

    & > div{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & > div:last-child{
        margin-bottom: 0;
        width: 100%;

        & > div{
          margin-bottom: 0;

          & > button{
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }

  .flex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    flex-wrap: wrap;

    @media (min-width: 48em) {
      flex-direction: row;
    }
  }


}

.stakingInfoWrapper {
  flex: 2;
}

.stakingModeWrapper {
  flex: 1;
}

.rowWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  & > div {
    margin: 0;
  }
}

.currentlyStaked{
  margin-top: 15px;
}

.stakingActionButtonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 5px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  & > button{
    width: 100%;
 
    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      width: unset;
      padding: 0 25px;
      flex: 1;
    }

    &:last-child{
      @media screen and (min-width: map-get($breakpoints, 'tablet')){
        flex: 2;
        min-width: 200px;
      }
    }
  }



}
.rowEnd {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;

  > * {
    margin: 0 4px;
  }
}
