.stakingWrapper {
  padding: 8px 10px;
  @media (min-width: 48em) {
    padding: 8px 30px;
  }
  margin: 0 auto;
  display: flex;

  h3 {
    padding-bottom: 14px;
  }

  .internalWrapper {
    padding: 0 32px;
  }

  .flex {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    flex-wrap: wrap;

    > * {
      flex: 1;
    }
  }


}

.rowWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  & > div {
    margin: 0;
  }
}

.rowEnd {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;

  > * {
    margin: 0 4px;
  }
}
