.gradient {
    width: 200px;
    height: 200px;
    min-height: 200px;
    min-width: 200px;
    background: transparent!important;
    display: flex;
    justify-content: center;
    align-content: center;
}

.paint {
    margin: auto 0;
}