@import '../../assets/base/variables';
@import '../../assets/base/fonts';

.table {
  width: 100%;
  border-spacing: 0;
  margin-top: 30px;

  .thead {
    background: $bg3;
    border-radius: 15px;
    color: $text2;
    font-size: 12px;

    th {
      font-weight: 600;
      line-height: 29px;
      padding: 14px 0;
      text-align: left;
    }
  }

  .tbody {
    td{
      height: 90px;
      font-size: 14px;
      font-weight: 600;
      color: $text2;
      & > svg {
        vertical-align: middle;
        cursor: pointer;
      }
      & > button {
        width: 98px;
        height: 37px;
        font-weight: 500;
        font-size: 12px;
      }
    }
  }
  td:first-child,
  th:first-child {
    border-radius: 15px 0 0 15px;
    padding-left: 22px;
  }

  th:last-child,
  td:last-child {
    border-radius: 0 15px 15px 0;
  }
}

.tableScrollSmallInnerContainer {
  min-width: 500px;
  max-width: 1200px;
}

.tableScrollBigInnerContainer {
  min-width: 700px;
  max-width: 1200px;
}

.tableScrollContainer {
  overflow-x: auto;
}