@import '../../../assets/base/variables';

.navigationWrapper {
  max-width: 249px;
  border-right: 1px solid $bg2;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.logoHeaderWrapper {
  padding: 30px 35px;
  max-width: 179px;
  width: 100%;
}
