// colors

$primary: #F1C823;
$primary2: #38CB89;
$primary4: #FF5630;
$bg3: #FAFBFC;
$bg2: #F3F3F3;
$bg4: #FFFFFF;
$secondary3: #FDF4E0;
$secondary2: #E5F7EF;
$secondary4: #FFEFEB;



// text

$text1: #323B4B;
$text2: #4E5D78;
$text3: #8A94A6;
$text4: #B0B7C3;
$errorText: $primary4;