@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display&display=swap');

$openSans: 'Open Sans', sans-serif;
$playfairDisplay: 'Playfair Display', serif;

body {
  margin: 0;
  font-family: $openSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}


#modal-root {
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: scroll;
  opacity: 0;
  display: flex;
  align-items: safe center;
  justify-content: safe center;
  flex: none;
  

  &.active {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    opacity: 1;
  }

  & > .modal-wrapper {
    width: 100%;
    height: fit-content;
    padding-top: 50px;
  @media (min-width: 768px) {
    padding-top: 0;
  }

    & > div {
      background: #fff;
      border-radius: 20px;
      margin: 24px;
    }
  }

  @media (min-width: 640px) {
    & > .modal-wrapper {
      width: auto;
    }
  }

  & > .modal-text-wrapper {
    top: 5%;
    transform: translate(-50%, 0%);
  }
}
