@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display&display=swap');
@import '../node_modules/rc-tooltip/assets/bootstrap';
@import './assets/main.scss';

$openSans: 'Open Sans', sans-serif;
$playfairDisplay: 'Playfair Display', serif;

body {
  margin: 0;
  font-family: $openSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #243F5F;
}

p {
  margin: 0;
}


#modal-root,
.modal-root {
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: scroll;
  opacity: 0;
  display: flex;
  align-items: safe center;
  justify-content: safe center;
  flex: none;
  

  &.active {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    opacity: 1;
  }

  & > .modal-wrapper {
    width: 100%;
    height: fit-content;
    padding-top: 50px;
  @media (min-width: 768px) {
    padding-top: 0;
  }

    & > div {
      background: #fff;
      border-radius: 20px;
      margin: 24px;
    }
  }

  @media (min-width: 640px) {
    & > .modal-wrapper {
      width: auto;
    }
  }

  & > .modal-text-wrapper {
    top: 5%;
    transform: translate(-50%, 0%);
  }
}

// ANTD overrides

.ant-btn-primary {
  background: linear-gradient(135deg, #e4d6a0, #EDC007,#e4d6a0);
  transition: all 0.3s;

  &:focus,&:active,&:hover {
    background: linear-gradient(135deg, #e4d6a0, #EDC007,#e4d6a0)!important;
    filter: brightness(120%);
  }
}

.ant-btn-dangerous {
  background: #ff4d4f!important;
  color: white!important;

  &:focus,&:active,&:hover {
    background: white!important;
    color: black!important;
    filter: brightness(120%);
  }
}

.ant-collapse-header-text {
  font-family: Open Sans;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.ant-tabs-tab-btn[aria-selected="true"] {
  color: #243F5F !important;
}

.description {
  font-family: Open Sans;
  font-weight: 600;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ACBDC5;
}

.values {
  font-family: Open Sans;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.ant-card {
  border-color: #ECEBF0!important;
}

.ant-card-actions {
  border-top: none!important;
}

.ant-col {
  .ant-card {
    height: 100%;
  }
}

.ant-table-wrapper {
  overflow-x: auto;
}

th.ant-table-cell {
  word-break: keep-all;
}

.ant-splitter {
  min-height: 300;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ant-typography.ant-typography-ellipsis {
  max-width: 500px;
}

.ant-card-head-title {
  white-space: unset!important;
}

.ant-list-grid .ant-card.ant-card-bordered {
  max-width: 600px;
}

.ant-list-grid {
  .ant-row > * {
    display: flex;
    height: auto;
  }
}

.ant-form {
  max-width: 1600px;
}

.ant-list .ant-row {
  gap: 15px;
}

.threeColumnList {
  .ant-row > div {
    width: 100%!important;
    max-width: 100%!important;
  
    @media screen and (min-width: map-get($breakpoints, 'hd-screen')) {
      width: calc(33.33% - 15px)!important;
      max-width: calc(33.33% - 15px)!important;
    }
  }
}

.oneColumnList {
  .ant-row > div {
    width: 100%!important;
    max-width: 100%!important;
  }
  .ant-card {
    max-width: 100%!important;
  }
  .ant-card-body {
    display: flex;
    flex-wrap: wrap;
  }
  .ant-card-meta {
    padding-bottom: 20px;
    padding-right: 20px;
    @media screen and (min-width: map-get($breakpoints, 'hd-screen')) {
      min-width: 400px;
      padding-bottom: 0;
    }
  }
}

.hidden {
  display: none;
}

.ant-list-item-meta-title {
  text-align: left;
}

.ant-dropdown-menu-title-content {
  .ant-btn {
    width: 100%;
    border: none;
  }
}

.ant-collapse-header-text {
  font-weight: bolder;
}

textarea.ant-input {
  min-height: 400px;
}