@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';
@import '../../../assets/main.scss';

.cardWrapper{
  margin-top: 25px;
  padding: 15px;
  background-color: $bg4;

  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    margin-top: 40px;
    padding: 22px 30px;
    background-color: $bg4;
    border-radius: 10px;
  }
}

.transactionHistoryCard{
  border-radius: 20px;
  margin-top: 20px;

  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    margin-top: 30px;
  }
}

@media (min-width: 640px) {
  .transactionHistoryCard{
    padding: 28px;
  }
}

.transactionHistoryCardHeader{
  display: flex;
  justify-content: space-between;
  gap: 2px;
  padding: 14px 15px;
  border-radius: 10px;
  background-color: $lightGrey;
  font-size: 14px;
  font-weight: 700;

  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    padding: 24px 25px;
    font-size: 17px;
    gap: 2px;
  }
}

.transactionHistoryCardHeaderDesktop{
  display: none;
}

.transactionHistoryCardHeaderMobile{

  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    display: none;
  }
}

.transactionHistoryCardMain{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;

  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    margin: 40px 0;
    padding: 0 24px;
    font-size: 17px;
  }

  & .paymentNumber{
    display: flex;
    align-items: center;


    & .paymentNumberIcon{
      margin-right: 15px;
      display: flex;
      align-items: center;


      @media screen and (min-width: map-get($breakpoints, 'desktop')){
        gap:10px;
        margin-right: 0;
        width: 100%;
      }

      .desktopTekst{
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }

    & .paymentFrom {
      color: $clearBlack;
      font-weight: 500;
      
      & > p {
        line-height: 19.07px;
        font-size: 14px;

        & > span {
          font-weight: 700;
        }
      }

      .paymentFromDate{
        margin-top: 8px;
        @media screen and (min-width: map-get($breakpoints, 'desktop')){
          margin-top: 0;
        }
      }
    }
  }
}

.transactionHistoryAmount{
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 80px;
  align-items: flex-end;

  & > span {
    color: $clearBlack;
    font-size: 14px;
    font-weight: 700;
  }

}

.gridList{
  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;

    @media screen and (min-width: map-get($breakpoints, 'widescreen')){
      grid-template-columns: 4fr 7fr 4fr 4fr 2.5fr;
  
      @media screen and (min-width: map-get($breakpoints, 'hd-screen')){
        grid-template-columns: 3fr 10fr 4fr 4fr 2.5fr;
      }
    }

    & > *{
      text-align: left;

      &:nth-child(3), &:nth-child(4), &:nth-child(5){
        text-align: right;
      }
    }

  }

  .status{
    display: flex;
    justify-content: flex-end;
    text-align: center;
  }

  .bold{
    font-weight: 700;
  }
}
