@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';
@import '../../../assets/main.scss';

.cardWrapper{
  margin-top: 25px;
  padding: 15px;
  background-color: $bg4;

  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    margin-top: px;
    padding: 22px 30px 25px 30px;
    background-color: $bg4;
    border-radius: 10px;
  }
}

.transactionHistoryCardMain{

  & .paymentNumber{
    display: flex;
    align-items: center;

    & .paymentNumberIcon{
      margin-right: 15px;
      display: flex;
      align-items: center;

      & > img {
        width: 40px;
      }

      @media screen and (min-width: map-get($breakpoints, 'desktop')){
        gap: 10px;
        margin-right: 0;
        width: 100%;
      }

      .desktopTekst{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 14px;
      }
    }

    & .paymentFrom {
      color: $clearBlack;
      font-weight: 500;
      
      & > p {
        line-height: 19.07px;
        font-size: 14px;

        & > span {
          font-weight: 700;
        }
      }

      .paymentFromDate{
        margin-top: 8px;
        @media screen and (min-width: map-get($breakpoints, 'desktop')){
          margin-top: 0;
        }
      }
    }
  }
}

.transactionHistoryAmount{
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 80px;
  align-items: flex-end;

  & > span {
    color: $clearBlack;
    font-size: 14px;
    font-weight: 700;
  }

}

.gridList{
  @media screen and (min-width: map-get($breakpoints, 'desktop')){
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;

    @media screen and (min-width: map-get($breakpoints, 'widescreen')){
      grid-template-columns: 4fr 7fr 4fr 4fr 2.5fr;
  
      @media screen and (min-width: map-get($breakpoints, 'hd-screen')){
        grid-template-columns: 2fr 10fr 4fr 4fr 2.5fr;
      }
    }

    & > *{
      text-align: left;

      &:nth-child(3), &:nth-child(4), &:nth-child(5){
        text-align: right;
      }
    }

  }

  .status{
    display: flex;
    justify-content: flex-end;
    text-align: center;
  }

  .icon{
    display: flex;
    align-items: center;
  }

  .bold{
    font-weight: 700;
    font-size: 13px;
  }
}
