@import "../../../assets/base/variables";
@import '../../../assets/main.scss';

.selectWrapper{
  position: relative;
  display: flex;
  margin: 0 6.5% 5px 6.5%;
  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    margin: 10px 0 0 0;
  }

  .select{
    width: 100%;
    border-radius: 6px;
    padding: 11px 13px;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      padding: 12px 16px;
    }
  }
}