@import "../../../assets/base/variables";
@import '../../../assets/main.scss';

.dropdown {
  display: flex;
  align-items: center;
  gap: 7px;
}

.dropdown, .dropdownLink {
  color: #243F5F;
}
.polkadot {
  width: 14px;
  height: 14px;
}