@import "../../../assets/base/variables";
@import '../../../assets/main.scss';

.dropdown {
  display: flex;
  align-items: center;
  gap: 7px;
}

.dropdown, .dropdownLink {
  color: #243F5F;
}
.polkadot {
  width: 14px;
  height: 14px;
}
.button {
  margin-top: 5px;
  height: 25px;
  width: 100%;

  @media screen and (min-width: map-get($breakpoints, 'tablet')) {
    margin-top: 0px;
    height: initial;
    width: initial;
  }
}