@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';
@import '../../../assets/main.scss';
.homeHeaderWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.homeHeaderAccountWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 3% ;
  background: $lightGrey;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    background: $bg4;
    padding: 13px 35px 20px 35px;
    color: $black;
  }

  .headerTitle {
    margin: 0;
    
    font-weight: 500;
    font-size: 24px;

    @media screen and (min-width: map-get($breakpoints, 'tablet')){
      font-weight: 500;
      font-size: 30px;
    }
  }

  .titleWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.avatarWrapper{
  position: relative;
}

.dropdown {
  display: flex;
  padding: 10px 0 10px 20px;
  background: $text4;
  position: absolute;
};