@import '../../../assets/base/variables';
@import '../../../assets/base/fonts';

.homeHeaderWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.homeHeaderAccountWrapper{
  display: flex;
  align-items: center;
  height: 42px;
  justify-content: space-between;
  width: 100%;
  padding: 30px 35px;

  .headerTitle {
    margin: 0;
    font-family: $regular;
    font-weight: bold;
    font-size: 24px;
  }

  .titleWrapper {
    display: flex;
    align-items: center;
  }
}

.avatarWrapper{
  position: relative;
}

.dropdown {
  display: flex;
  padding: 10px 0 10px 20px;
  background: $text4;
  position: absolute;
};