@import '../../../../assets/base/variables';
@import '../../../../assets/base/fonts';
@import '../../../../assets/main.scss';

.validatorsListHeader{
  display: flex;

  .nameCommisionAllowed{
    flex: 2.5;
  }

  .nominated{
    min-width: 83px;
    text-align: right;
    flex: 1;
  }
}

.listItem{
  display: flex;
  align-items: center;
  height:100%;
}
.listItemName{
  display: flex;
  flex:1;
  align-items: center;
  height:100%;
  margin-left: 15px;
}
.arrowsUpDown{
  height: 15px;
  width: 15px;
}

.validatorsList{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  font-size: 14px;

  @media screen and (min-width: map-get($breakpoints, 'tablet')){
    margin-top: 39px;
    padding: 0 2%;
    font-size: 16px;
  }
}

.gridList{
    @media screen and (min-width: map-get($breakpoints, 'hd-screen')){
      display: grid;
      grid-template-columns: 4fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
    }

    & > *{
      text-align: left;
      display: flex;
      align-items: center;
      max-width: 100px;

      &:nth-child(n + 2){
        text-align: right;
        justify-self: flex-end;
      }

      &:first-child{
        max-width: unset;
      }
    }
}