@import '../../../assets/base/variables';
.landCard{
  background-color: $transparent3;
  margin-bottom: 0.75rem;
}

.metaverseLandCard{
  background-color: $transparent1;
  margin-bottom: 0.75rem;
}
